* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
p,
.p {
  margin-bottom: 0;
}

.container-main {
  width: 1200px;
  max-width: 1200px;
  margin: 20px auto;
  display: block;
  border: 1px solid #ddd;
  /* padding: 10px; */
}
.small-li,
.small-li li {
  list-style: none;
  padding: 0;
}
.font-bold {
  font-weight: bold;
}
.small-li li {
  font-size: 14px;
  color: #626262;
}
p {
  font-size: 15px;
}
.details {
  background-color: #dff7ff;
}
.check-date {
  background-color: #f99f24;
  padding: 15px;
  color: #fff;
}

.check-date h3 {
  font-size: 20px;
  font-weight: bold;
}
.check-date h4 {
  font-size: 18px;
  font-weight: bold;
}
.border-top-main {
  border-top: 3px solid #c0d8e3;
}
thead {
  background-color: #1e99c3;
  color: #fff;
}
.label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 25px;
}
li,
p {
  color: #626262;
}
